@font-face {
    font-family: 'RedHatText-Bold';
    src: url(../../../public/fonts/static/RedHatText-Bold.ttf);
}
@font-face {
    font-family: 'RedHatText-SemiBold';
    src: url(../../../public/fonts/static/RedHatText-SemiBold.ttf);
}
@font-face {
    font-family: 'RedHatText-Regular';
    src: url(../../../public/fonts/static/RedHatText-Regular.ttf);
}
