@use 'fonts' as *;

// colors
$red: #C73B0F;
$rose-900: #260F08;
$rose-500: #87635A;
$rose-400: #AD8A85;
$rose-300: #CAAFA7;
$rose-100: #F5EEEC;
$rose-50: #FCF8F6;
$green: #1EA575;
$black: #000000;
$white: #FFFFFF;

// typography
$font-bold: 'RedHatText-Bold';
$font-semibold: 'RedHatText-SemiBold';
$font-regular: 'RedHatText-Regular';