<div class="add-to-cart-container">
  @if (!isAddedToCart) {
    <button class="add-to-cart-default" (click)="addToCart()">
      <img src="images/icon-add-to-cart.svg" alt="add to cart svg icon">
      <p>Add to Cart</p>
    </button>
  } @else {
    <div class="quantity-gauge">
      <button class="decrease-item" (click)="decreaseProductItem()">
        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="2" fill="none" viewBox="0 0 10 2"><path fill="#fff" d="M0 .375h10v1.25H0V.375Z"/></svg>
      </button>
      <p class="current-quantity">
        {{ quantity }}
      </p>
      <button class="increase-item" (click)="increaseProductItem()">
        <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="none" viewBox="0 0 10 10"><path fill="#fff" d="M10 4.375H5.625V0h-1.25v4.375H0v1.25h4.375V10h1.25V5.625H10v-1.25Z"/></svg>
      </button>
    </div>

  }
</div>