<main>
  <section class="desserts">
    <h1>Desserts</h1>

    <div class="desserts-container">
      <div class="dessert-item">
        <section class="item-image-add-to-cart">
          <img src="images/image-waffle-tablet.jpg" alt="dessert image">
          <app-add-to-cart />
        </section>
        <section class="item-info">
          <p class="category">Waffle</p>
          <p class="name">Waffle with Berries</p>
          <p class="price">6.50</p>
        </section>
      </div>
      <div class="dessert-item">
        <section class="item-image-add-to-cart">
          <img src="images/image-creme-brulee-tablet.jpg" alt="dessert image">
          <app-add-to-cart />
        </section>
        <section class="item-info">
          <p class="category">Waffle</p>
          <p class="name">Waffle with Berries</p>
          <p class="price">6.50</p>
        </section>
      </div>
      <div class="dessert-item">
        <section class="item-image-add-to-cart">
          <img src="images/image-macaron-tablet.jpg" alt="dessert image">
          <app-add-to-cart />
        </section>
        <section class="item-info">
          <p class="category">Waffle</p>
          <p class="name">Waffle with Berries</p>
          <p class="price">6.50</p>
        </section>
      </div>
      <div class="dessert-item">
        <section class="item-image-add-to-cart">
          <img src="images/image-tiramisu-tablet.jpg" alt="dessert image">
          <app-add-to-cart />
        </section>
        <section class="item-info">
          <p class="category">Waffle</p>
          <p class="name">Waffle with Berries</p>
          <p class="price">6.50</p>
        </section>
      </div>
      <div class="dessert-item">
        <section class="item-image-add-to-cart">
          <img src="images/image-baklava-tablet.jpg" alt="dessert image">
          <app-add-to-cart />
        </section>
        <section class="item-info">
          <p class="category">Waffle</p>
          <p class="name">Waffle with Berries</p>
          <p class="price">6.50</p>
        </section>
      </div>
      <div class="dessert-item">
        <section class="item-image-add-to-cart">
          <img src="images/image-meringue-tablet.jpg" alt="dessert image">
          <app-add-to-cart />
        </section>
        <section class="item-info">
          <p class="category">Waffle</p>
          <p class="name">Waffle with Berries</p>
          <p class="price">6.50</p>
        </section>
      </div>
      <div class="dessert-item">
        <section class="item-image-add-to-cart">
          <img src="images/image-cake-tablet.jpg" alt="dessert image">
          <app-add-to-cart />
        </section>
        <section class="item-info">
          <p class="category">Waffle</p>
          <p class="name">Waffle with Berries</p>
          <p class="price">6.50</p>
        </section>
      </div>
      <div class="dessert-item">
        <section class="item-image-add-to-cart">
          <img src="images/image-brownie-tablet.jpg" alt="dessert image">
          <app-add-to-cart />
        </section>
        <section class="item-info">
          <p class="category">Waffle</p>
          <p class="name">Waffle with Berries</p>
          <p class="price">6.50</p>
        </section>
      </div>
      <div class="dessert-item">
        <section class="item-image-add-to-cart">
          <img src="images/image-panna-cotta-tablet.jpg" alt="dessert image">
          <app-add-to-cart />
        </section>
        <section class="item-info">
          <p class="category">Waffle</p>
          <p class="name">Waffle with Berries</p>
          <p class="price">6.50</p>
        </section>
      </div>
    </div>
  </section>

  <section class="cart">
    <h2>Your Cart (0)</h2>
    <div class="content">
      <div class="empty-cart-content">
        <img src="images/illustration-empty-cart.svg" alt="empty cart svg">
        <p class="empty-cart-description">
          Your added items will appear here
        </p>
      </div>
    </div>
  </section>
</main>