@use 'mixins' as *;
@use 'variables' as *;

:host {
  width: 100%;
}

main {
  @include flex(row, flex-start, stretch, 2rem);
  width: min(1316px, 90%);
  margin: auto;
  padding: 1rem 0;
  // flex-wrap: wrap;
}

.desserts {
  @include flex(column, flex-start, stretch, 2rem);
  width: 100%;
  height: 100%;
  
  h1 {
    @include TextPreset1;
    color: $rose-900;
  }
}

// dessert section
.desserts-container {
  @include flex(row, flex-start, stretch, 1.5rem);
  flex-wrap: wrap;
  width: 100%;
  height: 100%;

  .dessert-item {
    @include flex(column, flex-start, stretch, 2rem);
    width: 250px;
    height: fit-content;

    .item-image-add-to-cart {
      @include flex(column);

      img {
        aspect-ratio: 1;
        border-radius: 10px;
        object-fit: cover;
      }
    }

    // .add-to-cart-container button {
    //   @include flex(row, flex-start, stretch, 0.5rem);
    //   padding: 0.5rem 1rem;
    //   border: 1px solid $rose-400;
    //   background-color: $white;
    //   border-radius: 50px;
    //   width: fit-content;
    //   margin: -1.2rem auto;
    //   cursor: pointer;

    //   &:hover {
    //     color: $red;
    //     border-color: $red;
    //     transition: all 300ms ease-in-out;
    //   }

    //   p {
    //     @include TextPreset4Bold;
    //   }
    // }

    // item info
    .item-info {
      .category {
        @include TextPreset4;
      }
      .name, .price {
        @include TextPreset3;
      }
      .price {
        color: $red;
      }
    }
  }
}
// cart section
.cart {
  width: 300px;
  height: fit-content;
  flex: 1 0 380px;
  padding: 1rem;

  h2 {
    @include TextPreset2;
    color: $red;
  }

  .content {
    width: 100%;
    height: fit-content;

    .empty-cart-content {
      @include flex(column, center, center);
      width: 100%;
      
      p {
        @include TextPreset4Bold;
        color: $rose-500;
      }
    }
  }
}
