@use 'reset' as *;
@use 'mixins' as *;
@use 'variables' as *;

body {
  @include flex();
  width: 100%;
  min-height: 100dvh;
}

img {
  max-width: 100%;
  display: block;
}

button {
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}